@model IEnumerable<HRM_WebApp.Models.Attendence>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.atten_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atten_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atten_reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.emp_fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leave_type.type_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.atten_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atten_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atten_reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.emp_fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leave_type.type_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
