@model HRM_WebApp.Models.Notice_Board

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Notice_Board</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.notice_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notice_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notice_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notice_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notice_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notice_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departament.depart_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departament.depart_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
